# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Libraries
*.lib

# Executables
*.exe
*.out
*.app

# Qt
*.pro.user
*.pro.user.*
moc_*.cpp
moc_*.h
qrc_*.cpp
Makefile
*build*
ui_*.h
*.qm

# Linux/Unixes
.*
!.tx
!.gitignore
!.github
*~
