QRadioButton::indicator {
   background: none;
   width: 18;
   height: 18;
}

QRadioButton::indicator:checked {
    border-image: url(:/pictures/css/radioButton/radio-checked.png);
}

QRadioButton::indicator:checked:disabled {
    border-image: url(:/pictures/css/radioButton/radio-checked-disabled.png);
}

QRadioButton::indicator:checked:hover {
    border-image: url(:/pictures/css/radioButton/radio-checked-hover.png);
}

QRadioButton::indicator:checked:hover:pressed {
    border-image: url(:/pictures/css/radioButton/radio-checked-hover-pressed.png);
}

QRadioButton::indicator:unchecked {
    border-image: url(:/pictures/css/radioButton/radio-unchecked.png);
}

QRadioButton::indicator:unchecked:disabled {
    border-image: url(:/pictures/css/radioButton/radio-unchecked-disabled.png);
}

QRadioButton::indicator:unchecked:hover {
    border-image: url(:/pictures/css/radioButton/radio-unchecked-hover.png);
}

QRadioButton::indicator:unchecked:hover:pressed {
    border-image: url(:/pictures/css/radioButton/radio-unchecked-hover-pressed.png);
}




QCheckBox::indicator {
   background: none;
   width: 18;
   height: 18;
}

QCheckBox::indicator:checked {
    border-image: url(:/pictures/css/checkBox/checkBox-checked.png);
}

QCheckBox::indicator:checked:disabled {
    border-image: url(:/pictures/css/checkBox/checkBox-checked-disabled.png);
}

QCheckBox::indicator:checked:hover {
    border-image: url(:/pictures/css/checkBox/checkBox-checked-hover.png);
}

QCheckBox::indicator:checked:hover:pressed {
    border-image: url(:/pictures/css/checkBox/checkBox-checked-hover-pressed.png);
}

QCheckBox::indicator:unchecked {
    border-image: url(:/pictures/css/checkBox/checkBox-unchecked.png);
}

QCheckBox::indicator:unchecked:disabled {
    border-image: url(:/pictures/css/checkBox/checkBox-unchecked-disabled.png);
}

QCheckBox::indicator:unchecked:hover {
    border-image: url(:/pictures/css/checkBox/checkBox-unchecked-hover.png);
}

QCheckBox::indicator:unchecked:hover:pressed {
    border-image: url(:/pictures/css/checkBox/checkBox-unchecked-hover-pressed.png);
}




QToolButton#toolButton_magnifier_rectangle {
    background: none;
    width: 24;
    height: 24;
}

QToolButton#toolButton_magnifier_rectangle {
    border-image: url(:/pictures/css/magnifier/magnifier-rectangle-unchecked.png);
}

QToolButton#toolButton_magnifier_rectangle:hover {
    border-image: url(:/pictures/css/magnifier/magnifier-rectangle-unchecked-hover.png);
}

QToolButton#toolButton_magnifier_rectangle:checked {
    border-image: url(:/pictures/css/magnifier/magnifier-rectangle-checked.png);
}

QToolButton#toolButton_magnifier_rectangle:checked:hover {
    border-image: url(:/pictures/css/magnifier/magnifier-rectangle-checked-hover.png);
}




QToolButton#toolButton_magnifier_elipse {
    background: none;
    width: 24;
    height: 24;
}

QToolButton#toolButton_magnifier_elipse {
    border-image: url(:/pictures/css/magnifier/magnifier-elipse-unchecked.png);
}

QToolButton#toolButton_magnifier_elipse:hover {
    border-image: url(:/pictures/css/magnifier/magnifier-elipse-unchecked-hover.png);
}

QToolButton#toolButton_magnifier_elipse:checked {
    border-image: url(:/pictures/css/magnifier/magnifier-elipse-checked.png);
}

QToolButton#toolButton_magnifier_elipse:checked:hover {
    border-image: url(:/pictures/css/magnifier/magnifier-elipse-checked-hover.png);
}



QToolButton#toolButton_magnifier_circle {
    background: none;
    width: 24;
    height: 24;
}

QToolButton#toolButton_magnifier_circle {
    border-image: url(:/pictures/css/magnifier/magnifier-circle-unchecked.png);
}

QToolButton#toolButton_magnifier_circle:hover {
    border-image: url(:/pictures/css/magnifier/magnifier-circle-unchecked-hover.png);
}

QToolButton#toolButton_magnifier_circle:checked {
    border-image: url(:/pictures/css/magnifier/magnifier-circle-checked.png);
}

QToolButton#toolButton_magnifier_circle:checked:hover {
    border-image: url(:/pictures/css/magnifier/magnifier-circle-checked-hover.png);
}



QPushButton::hover{
    border-width: 2px;
    border-style: solid;
    border-color: #3daee9;
    border-radius: 4px;
}

QPushButton::disabled{
    color: gray;
}



QProgressBar::chunk{
   background-color: #3daee9;
}



QComboBox {
    selection-background-color: #3daee9;
}
